.products{
    display: flex;
    gap: 50px;
    padding: 30px 90px;
    
}
.pdh{
   
    padding-top: 1rem;
    padding-left:90px ;

}

.productd{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0;
    height: 400px;
    width: 591px;
    justify-content: center;
    align-items: center;
    flex: 1;

    
}

.productd h3{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 1rem;
}

.productd h4{
    font-size: 18px;
    font-weight:400;
    padding-top: 1rem;
}

.productd button{
    margin-top: 1rem;

}

.productimg img{
    height: 400px;
    width: 100%;
    
}

.productimg{
    flex: 1;
    
}

.Content{
    background-color:rgb(230, 229, 229);
   padding: 30px 20px;
   margin-top: 30px;
}

.content1{
    padding-bottom: 27px;
}

.product_section{
    display: flex;
    flex-direction: column;
    padding: 30px 25px;
    gap: 28px;
}

.heading{
    font-size: 40px;
    font-weight: bold;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 250px;
    gap: 49px;
    
}

.btn{
    padding: 12px 70px;
    font-size: 18px;
    background-color: #F57C51;
    color: white;
    border-radius: 0.5rem;
}

.btn1{
    font-size: 15px;
    background-color: #efa836;
    color: white;
    border: none;
    border-radius: 0.5rem;
}


@media (max-width: 930px) {
    .products {
        flex-direction: column;
        padding: 30px;
    }

    .pdh {
        padding-left: 30px;
    }

    .productd {
        width: 100%; /* Make the product cards full width */
        margin-bottom: 20px;
        padding: 20px 0 20px 0;
    }

    .product {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}





