.products{
    display: flex;
    margin-top: 2rem ;
    margin-left: 2rem;
    gap: 50px;
    
}
.pdh{
   
    padding-top: 1rem;
    padding-left:90px ;

}

.productd{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0;
    height: 400px;
    width: 591px;
    justify-content: center;
    align-items: center;

    
}


.productd button{
    margin-top: 1rem;

}

.productimg img{
    height: 400px;
    padding-left: 90px ;
    
}


