*{
    box-sizing: border-box;
}

.navigation{
    background-image: url("../../images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero_section{
    padding: 220px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
}

.button{
    background-color: #F57C51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}


.title{
    font-size: 60px;
    color: white;
    text-align: center;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 250px;
    gap: 49px;
    
}

.heading1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.product_section1{
    display: flex;
    flex-direction: column;
    padding: 30px 90px;
    gap: 28px;
}

.btn{
    width: 100%;
    text-align: center;
}

button{
    background-color: transparent;
    border: 1px solid #F57C51;
    color: #F57C51;
    padding: 10px 16px;
}

@media screen and (max-width: 768px) {
    .product_section1{
        padding: 30px 1%;
    }

  }