.navigation{
    background-image: url("../../images/services.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero_section{
    padding: 220px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
}

.button{
    background-color: #F57C51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 7px;
}


.title{
    font-size: 60px;
    color: white;
    text-align: center;
}

.wellcome_message{
    font-size: 20px;
    color: white;
    text-align: center;
}



.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 41px;
    padding-left: 99px;
    padding-right:99px ;    
    padding-top: 41px;
}

.title1 h1{
    margin-top:1rem;
    text-align: center;
    padding-top: 45px;
}

.box1{
    flex: 1;
    border: 1px solid;
    text-align: center;
    padding-bottom: 71px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    border-style: hidden;
    
}


.box2{
    flex: 1;
    border: 1px solid;
    text-align:center;
    padding-bottom: 71px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    border-style: hidden;
}

.box3{
    flex: 1;
    border: 1px solid ;
    text-align: center;
    padding-bottom: 71px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    border-style: hidden;
    
}

.box1  p{
    padding-top: 62px;
}
.box2  p{
    padding-top: 62px;
}
.box3  p{
    padding-top: 62px;
}

.box1 i{
    font-size: 35px;
    padding: 1.5rem;
}

.box2 i{
    font-size: 35px;
    padding: 1.5rem;
}

.box3 i{
    font-size: 35px;
    padding: 1.5rem;
}

.Categories{
    padding-top: 2rem ;
    padding-bottom:2rem ;
    padding-left: 5rem;

}

.Categories1 th{
    border: 1px solid black;
    display: flex;
    gap: 200px;

        
}

.cat,i{
    flex: 1;
    
}


.Categories1, th{
    padding: 0 90px;
}

th{
    padding: 29px 46px;
}

.Categories, tr{
    display: flex;
    flex-direction: column;

}


.Payment1 h1{
text-align: center;
padding-top: 3rem;
}

.payment2{
    border: 1px solid #F57C51 ;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    text-align: center;
    padding: 3rem;


}
.payment3{
    border: 1px solid #F57C51 ;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
    text-align: center;
    padding: 3rem;


}

.Mpayment{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 2rem;


}

.Payment1{
    flex: 1;
}

.payment2 h3{
    text-decoration: underline;
    
}
.payment3 h3{
    text-decoration: underline;
    
}

.Refundpolicy{
    background-color:rgb(230, 229, 229);
    padding: 30px 90px;
    margin: 30px;
}

.refund{
    text-align: center;
    padding-bottom: 1rem;
}

.refund1{
    text-align: center;
    

}

.qA1{
    text-align: center;
    padding-top: 2rem;
    
}

.qA2 th{
    border: 1px solid black;
    margin: 0;
    text-align: center;
}

.qA2 table{
    width: 100%;
   padding: 30px 90px;
}



