.cart{
    padding: 30px 90px;
}

.cart_back{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.cart_products{
    border-bottom: 2px solid black;
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.cart_image{
    height: 150px;
    width: 250px;
}

.cart_product_name{
    font-size: 25px;
}

.cart_product_name, .cart_product_cost{
    font-weight: bold;
}

.cart_product_detail, .cart_action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}