*{
    box-sizing: border-box;
}

.navigation{
    background-image: url("../../images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero_section{
    padding: 220px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
}

.button{
    background-color: #F57C51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}


.title{
    font-size: 60px;
    color: white;
    text-align: center;
}

.wellcome_message{
    font-size: 20px;
    color: white;
    text-align: center;
}


.heading{
    font-size: 30px;
    text-align: center;
    padding-top: 1rem;
   
}

.content{
    display: flex;
    flex: 1 0 250px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    padding: 90px;
}

.info, details {
    flex-basis: 45%;
}

.detail{
    overflow-x: scroll;
    width: 100%;
    overflow-x: auto;
}

form{
    display: flex;
    flex-direction: column;
}

input{
    width: 650px;
}

