.navigation{
  background-image: url("../../images/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.hero_section{
  padding: 220px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  gap: 22px;
}

.button{
  background-color: #F57C51;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
}


.title{
  font-size: 60px;
  color: white;
  text-align: center;
}

.wellcome_message{
  font-size: 20px;
  color: white;
  text-align: center;
}


.heading{
  font-size: 30px;
  text-align: center;
  padding-top: 1rem;
 
}

span{
  color: #F57C51;
}

.contain{
  padding: 30px 90px ;
}

.info{
  padding-bottom: 19px;
  font-weight: bold;
}

.left_content {
  padding-top: 30px;
}


.btn1{
  display: flex;
  justify-content: flex-end;
}


.heading1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
}

.left_content, .right_content {
  flex: 1;
}

.info, .phone, .address, .email {
  margin-bottom: 10px;
}

/* Form styling */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea{
  height: 133px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .contain{
      padding: 30px 10%;
  }
  .right_content {
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px) {
  .contain{
      padding: 0;
  }
}

.heading1{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.icons{
  display: flex;
  gap: 20px;
  font-size: 30px;
}

