*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation{
    background-image: url("../../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.navigation:nth-child(1){
    align-items: center;
}

.navbar{
    width: 100%;
    padding: 29px 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.25);
}

.logo{
    font-size: 31px;
    font-weight: bold;
    color: white;
}

.menu ul, .profile{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45.32px;
}

.menu ul .menu-items{
    color: white;
    padding: 0;
}

.icons{
    height: 30px;
    width: 30px;
    color: white;
}

.dropdown{
    background-color: black;
    color: white;
    position: absolute;
    top: 71px;
    padding: 10px 30px;
    border-radius: 10px;
}

.down{
    margin-top: 1px;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-section{
    padding: 115px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
}

.title{
    font-size: 60px;
    color: white;
    text-align: center;
}

.wellcome-message{
    font-size: 20px;
    color: white;
    text-align: center;
}

button{
    background-color: #F57C51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}

a{
    text-decoration: none;
}
