
  
  .navigation{
    background-image: url("../../images/teams.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }
  
  .hero_section{
    padding: 220px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
  }
  
  .title{
    font-size: 60px;
    color: white;
    text-align: center;
  }

.ceo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 90px;
    gap: 30px;
    
}

.profile {
    flex: 0.5 0 250px;
    display: flex;
    justify-content: flex-start;
}

.profile img {
    max-width: 100%;
    height: auto;
}

.message {
    flex: 1;
    text-align: center;
}

  .heading{
    font-size: 40px;
    font-weight: bold;
  }

  p{
    font-size: 20px;
    text-align: justify;
    padding: 0;
  }

  .team{
    padding: 30px 90px;
  }

  .img{
    flex: 1 1 250px;
  }

  .members{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
  }

  .member{
    flex: 1 1 350px;
    margin-bottom: 30px;
  }

  .member .img{
    max-width: 385px;
    height: 506px;
  }

  .heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
  }

  .detail{
    font-size: 20px;
    font-weight: bold;
  }

  @media screen and (max-width: 915px) {
    .team{
        padding: 30px 0;
        text-align: center;
    }
    .ceo{
      padding: 30px 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    
  .owner{
    flex: 1 1 350px;
  }
    .members{
      flex-direction: column;
      align-items: center;
    }


  }

  @media screen and (max-width: 912px) {
    .message{
      padding: 50px 90px;
    }
  }

