*{
    box-sizing: border-box;
}

.navigation{
    background-image: url("../../images/contact.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.hero_section{
    padding: 220px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 22px;
}

.button{
    background-color: #F57C51;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}


.title{
    font-size: 60px;
    color: white;
    text-align: center;
}
.product_section{
    display: flex;
    flex-direction: column;
    padding: 30px 90px;
    gap: 28px;
}

.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    padding: 10px 20px;
    border-radius: 25px;
    width: 300px;
    gap: 20px;
}

.searchbutton{
    border: none;
    height: 31px;
}

.searchbutton:focus{
    outline: none;
}

.lens{
    height: 30px;
    width: 30px;
    color: #F57C51  ;
}

.heading{
    font-size: 40px;
    font-weight: bold;
}

.product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 250px;
    gap: 49px;
    
}

.btn{
    width: 100%;
    text-align: center;
}

button{
    background-color: transparent;
    border: 1px solid #F57C51;
    color: #F57C51;
    padding: 10px 16px;
}

@media screen and (max-width: 768px) {
    .product_section, .product_section1, .work{
        padding: 30px 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .product_section, .product_section1, .work{
        padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 350px;
    }

    .product, .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }